body {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.fundo-preto-transp {
    background-color: rgba(0, 0, 0, 0.8) !important;
    bottom: 0;
    right: 0;
    left: 0;
}

.car-text-bg-height {
    padding-top: 4px !important;
    min-height: 30%;
}

.main-carousel-container {
    width: 60vw;
    overflow: hidden;
    /*Remove it*/
    border-radius: 20px;
    background-color: gray;
}